/.ecs export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.vscode export-ignore
/demo export-ignore
/infection.json.dist export-ignore
/phpunit.xml export-ignore
/rector.php export-ignore
/sonar-project.properties export-ignore
/tests export-ignore
/phpstan.neon export-ignore
/xr.svg export-ignore
/AGENTS.md export-ignore

*.php diff=php
